.create-modal {
  .block-label {
    font-weight: 600;
    margin-bottom: 15px;
  }

  .details-block {
    margin: 0 10px 15px;
    display: flex;
    flex-direction: column;
    input,
    textarea {
      font-size: 16px;
      height: 40px;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 0 10px;
      display: flex;
      align-items: center;
    }
    .title {
      margin-bottom: 15px;
    }
  }

  .time-block {
    margin: 0 10px 15px;

    .start {
      margin-right: 20px;
    }
    .start,
    .end {
      width: auto;
      > div {
        width: 200px;
      }
    }
    margin-bottom: 20px;
    [class*="MuiPickersInputBase-root"] {
      height: 40px;
      width: 180px;
    }
    [class*="MuiPickersSectionList-root"] {
      justify-content: center;
      font-size: 16px;
    }
  }

  .error-message {
    color: red;
    font-size: 14px;
  }
}
