.dialog {
  .description {
    margin: 10px 0;
    font-size: 14px;
    color: #666;
  }
  .block-label {
    font-weight: 600;
    margin-bottom: 15px;
  }
  [class*="MuiPickersInputBase-root"] {
    height: 40px;
    width: 180px;
  }
  [class*="MuiPickersSectionList-root"] {
    justify-content: center;
    font-size: 16px;
  }
  .time-block {
    margin: 0 10px 15px;

    .start {
      margin-right: 20px;
    }
    .start, .end {
      width: auto;
      > div {
        width: 200px;
      }
    }
    margin-bottom: 20px;
    /* Hide the calendar icon */
    // [data-testid*="CalendarIcon"] {
    //   display: none;
    // }
  }

  hr {
    border: .5px solid #ddd;
    margin: 20px 0;
  }

  .department {
    margin: 0 10px;
    height: 40px;
  }

  .attendees-block, .attendees {
    display: flex;
    flex-direction: column;
  }
  .attendees{
    margin:  10px;

    .label {
      margin-top: 10px;
    }
  }
  .attendee {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}
