.dialog {
  [class*="MuiPickersInputBase-root"] {
    height: 40px;
    width: 180px;
  }
  [class*="MuiPickersSectionList-root"] {
    justify-content: center;
    font-size: 16px;
  }
  .time-block {
    .start {
      margin-right: 20px;
    }
    .start, .end {
      width: auto;
      > div {
        width: 200px;
      }
    }
    margin-bottom: 20px;
    /* Hide the calendar icon */
    // [data-testid*="CalendarIcon"] {
    //   display: none;
    // }
  }

  hr {
    border: .5px solid #ddd;
  }

  .department {
    margin: 15px 0 10px;
    height: 40px;
  }

  .attendees-block, .employees {
    display: flex;
    flex-direction: column;
  }
  .employee {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}
